In [4]:
import pandas as pd
df=pd.read_csv("C:\\Users\\LENOVO\\Desktop\\Development-jourey\\machinelearningworks\\task\\21_1_26\\world_famous_places_2024.csv")
df.head()

,Place_Name,Country,City,Annual_Visitors_Millions,Type,UNESCO_World_Heritage,Year_Built,Entry_Fee_USD,Best_Visit_Month,Region,Tourism_Revenue_Million_USD,Average_Visit_Duration_Hours,Famous_For
0,Eiffel Tower,France,Paris,7.0,Monument/Tower,No,1889,35,May-June/Sept-Oct,Western Europe,95,2.5,"Iconic iron lattice tower, symbol of Paris"
1,Times Square,United States,New York City,50.0,Urban Landmark,No,1904,0,Apr-June/Sept-Nov,North America,70,1.5,"Bright lights, Broadway shows, New Year's Eve ..."
2,Louvre Museum,France,Paris,8.7,Museum,Yes,1793,22,Oct-March,Western Europe,120,4.0,"World's most visited museum, home to Mona Lisa"
3,Great Wall of China,China,Beijing/Multiple,10.0,Historic Monument,Yes,220 BC - 1644 AD,10,Apr-May/Sept-Oct,East Asia,180,4.0,Ancient defensive structure visible from space
4,Taj Mahal,India,Agra,7.5,Monument/Mausoleum,Yes,1653,15,Oct-March,South Asia,65,2.0,"White marble mausoleum, symbol of love"

In [2]:
df.tail()

,Place_Name,Country,City,Annual_Visitors_Millions,Type,UNESCO_World_Heritage,Year_Built,Entry_Fee_USD,Best_Visit_Month,Region,Tourism_Revenue_Million_USD,Average_Visit_Duration_Hours,Famous_For
25,Burj Khalifa,United Arab Emirates,Dubai,6.0,Skyscraper,No,2010,45,Nov-March,Middle East,350,2.0,Tallest building in the world
26,Big Ben,United Kingdom,London,5.5,Clock Tower,Yes,1859,0,Apr-June/Sept-Oct,Western Europe,65,0.5,"Clock tower, Westminster Palace"
27,Tower Bridge,United Kingdom,London,6.8,Bridge,No,1894,0,May-Sept,Western Europe,70,1.0,Victorian Gothic suspension bridge
28,Buckingham Palace,United Kingdom,London,15.0,Palace,No,1703,0,June-Sept,Western Europe,120,1.0,Official residence of British monarch
29,Christ the Redeemer,Brazil,Rio de Janeiro,2.2,Monument/Statue,No,1931,12,Apr-June/Sept-Nov,South America,35,1.5,Art Deco statue of Jesus Christ

In [3]:
df.columns

Index(['Place_Name', 'Country', 'City', 'Annual_Visitors_Millions', 'Type',
       'UNESCO_World_Heritage', 'Year_Built', 'Entry_Fee_USD',
       'Best_Visit_Month', 'Region', 'Tourism_Revenue_Million_USD',
       'Average_Visit_Duration_Hours', 'Famous_For'],
      dtype='object')

In [4]:
df.isnull().sum()

Place_Name                      0
Country                         0
City                            0
Annual_Visitors_Millions        0
Type                            0
UNESCO_World_Heritage           0
Year_Built                      0
Entry_Fee_USD                   0
Best_Visit_Month                0
Region                          0
Tourism_Revenue_Million_USD     0
Average_Visit_Duration_Hours    0
Famous_For                      0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Place_Name                    30 non-null     object
 1   Country                       30 non-null     object
 2   City                          30 non-null     object
 3   Annual_Visitors_Millions      30 non-null     float64
 4   Type                          30 non-null     object
 5   UNESCO_World_Heritage         30 non-null     object
 6   Year_Built                    30 non-null     object
 7   Entry_Fee_USD                 30 non-null     int64
 8   Best_Visit_Month              30 non-null     object
 9   Region                        30 non-null     object
 10  Tourism_Revenue_Million_USD   30 non-null     int64
 11  Average_Visit_Duration_Hours  30 non-null     float64
 12  Famous_For                    30 non-null     object
dtypes: float64(2), int64(2), object(9)
memory usage: 3.2+ KB

In [6]:
df.count()

Place_Name                      30
Country                         30
City                            30
Annual_Visitors_Millions        30
Type                            30
UNESCO_World_Heritage           30
Year_Built                      30
Entry_Fee_USD                   30
Best_Visit_Month                30
Region                          30
Tourism_Revenue_Million_USD     30
Average_Visit_Duration_Hours    30
Famous_For                      30
dtype: int64

In [12]:
#best visit month
df["Best_Visit_Month"].value_counts().idxmax()

'Apr-May/Sept-Oct'

In [ ]:
#which country have highest number of tourist attraction
df["Country"].value_counts().head(1)

Country
United States    10
Name: count, dtype: int64

In [16]:
#which regions are most repres.ented in the dataset
df["Region"].value_counts().idxmax()

'North America'

In [18]:
#most common type of tourist place
df["Type"].value_counts().head(1)

Type
Historic Monument    3
Name: count, dtype: int64

In [23]:
#which place has the highest annual visitors
df.groupby("Place_Name")["Annual_Visitors_Millions"].sum().sort_values(ascending=False).head(1)

Place_Name
Times Square    50.0
Name: Annual_Visitors_Millions, dtype: float64

In [ ]:
# do unseco sites  attracs more visitors than non unesco sites
df.groupby("UNESCO_World_Heritage")["Annual_Visitors_Millions"].mean()

UNESCO_World_Heritage
No     17.830769
Yes     6.361765
Name: Annual_Visitors_Millions, dtype: float64