In [1]:
print("hello")

hello

In [2]:
import pandas as pd
df = pd.read_csv("C:\\Users\\LENOVO\\Desktop\\Development-jourey\\machinelearningworks\\pands_work\\joins\\socialmediacasetudy\\social_media_viral_content_dataset.csv")
print(df.head())
print(df.columns)
df.isnull().sum()

     post_id        platform content_type       topic language  region  \
0  SM_100000       Instagram         text      Sports       ur      UK
1  SM_100001       Instagram     carousel      Sports       ur  Brazil
2  SM_100002  YouTube Shorts        video  Technology       ur      UK
3  SM_100003               X         text    Politics       ur      US
4  SM_100004  YouTube Shorts         text   Education       es      US

         post_datetime                         hashtags    views   likes  \
0  2024-12-10 00:00:00              #tech #funny #music  2319102  122058
1  2024-10-13 00:00:00  #news #fyp #funny #ai #trending  2538464  110368
2  2024-05-03 00:00:00                        #ai #news  1051176   87598
3  2024-08-04 00:00:00                       #ai #funny  5271440  329465
4  2024-03-28 00:00:00     #news #ai #viral #funny #fyp  3186256  199141

   comments  shares  engagement_rate  sentiment_score  is_viral
0     15800     861           0.0598            0.464         1
1     11289   54887           0.0695           -0.800         1
2     47196   44132           0.1702            0.416         0
3       774   59736           0.0740            0.877         1
4      5316   83105           0.0903            0.223         1
Index(['post_id', 'platform', 'content_type', 'topic', 'language', 'region',
       'post_datetime', 'hashtags', 'views', 'likes', 'comments', 'shares',
       'engagement_rate', 'sentiment_score', 'is_viral'],
      dtype='object')

post_id            0
platform           0
content_type       0
topic              0
language           0
region             0
post_datetime      0
hashtags           0
views              0
likes              0
comments           0
shares             0
engagement_rate    0
sentiment_score    0
is_viral           0
dtype: int64

In [10]:
df.columns

Index(['post_id', 'platform', 'content_type', 'topic', 'language', 'region',
       'post_datetime', 'hashtags', 'views', 'likes', 'comments', 'shares',
       'engagement_rate', 'sentiment_score', 'is_viral'],
      dtype='object')

In [14]:
df.shape[0]

2000

In [17]:

"""no of coloumns"""
df.shape[1]

15

In [18]:
df["platform"].unique()

array(['Instagram', 'YouTube Shorts', 'X', 'TikTok'], dtype=object)

In [19]:
#platform wise  post count
df["platform"].value_counts()

platform
Instagram         539
YouTube Shorts    499
X                 485
TikTok            477
Name: count, dtype: int64

In [20]:
#unique content types
df["content_type"].unique()

array(['text', 'carousel', 'video', 'image'], dtype=object)

In [22]:
"""content wise count"""
df["content_type"].value_counts()

content_type
carousel    528
image       512
text        488
video       472
Name: count, dtype: int64

In [4]:
"filter post with more than one million views"
df.loc[df["views"]>10000000]

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
32,SM_100032,Instagram,text,Entertainment,ur,UK,2024-10-24 00:00:00,#tech #ai,11719656,488319,29728,69164,0.0501,0.785,1
44,SM_100044,X,carousel,Technology,ur,UK,2024-03-26 00:00:00,#news #funny #music #ai #viral,11580374,445399,40550,65734,0.0476,0.072,1
58,SM_100058,YouTube Shorts,carousel,Lifestyle,hi,UK,2024-09-19 00:00:00,#music #news,10159886,461813,46980,21358,0.0522,-0.029,1
72,SM_100072,YouTube Shorts,text,Politics,en,Pakistan,2024-06-06 00:00:00,#viral #funny #news #music #fyp,11659452,416409,574,51886,0.0402,-0.582,1
84,SM_100084,X,text,Lifestyle,hi,Brazil,2024-09-02 00:00:00,#ai #funny #trending,10736088,447337,881,58336,0.0472,-0.177,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936,SM_101936,TikTok,carousel,Technology,hi,UK,2024-01-30 00:00:00,#trending #funny,10807493,469891,29102,34208,0.0493,-0.282,1
1955,SM_101955,Instagram,carousel,Entertainment,es,UK,2024-02-07 00:00:00,#music #news #viral #ai #funny,10225225,444575,7041,53473,0.0494,0.204,1
1982,SM_101982,TikTok,video,Lifestyle,hi,India,2024-11-09 00:00:00,#ai #funny #fyp #viral,12766554,440226,23009,20432,0.0379,0.819,1
1983,SM_101983,X,carousel,Technology,en,UK,2024-02-18 00:00:00,#news #ai #music,12077268,431331,34507,31386,0.0412,0.818,1
1995,SM_101995,YouTube Shorts,text,Sports,es,US,2024-02-11 00:00:00,#funny #music #ai,14112183,486627,9430,91550,0.0416,-0.541,1

In [11]:
#average engagement rate by platform
df.groupby("platform")["engagement_rate"].mean()

platform
Instagram         0.148153
TikTok            0.143777
X                 0.201031
YouTube Shorts    0.139816
Name: engagement_rate, dtype: float64

In [12]:
#top 3 post with most likes
df.sort_values(by="likes",ascending=False).head(3)

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
283,SM_100283,Instagram,video,Lifestyle,ur,UK,2024-09-10 00:00:00,#viral #music #ai #trending,4999830,499983,9655,85470,0.1190,0.180,1
419,SM_100419,X,carousel,Politics,en,Pakistan,2024-11-28 00:00:00,#tech #viral #trending,2498765,499753,49731,5705,0.2222,-0.186,1
860,SM_100860,Instagram,text,Lifestyle,ur,India,2024-03-05 00:00:00,#fyp #funny #ai #viral,12493300,499732,38060,10579,0.0439,0.010,1

In [13]:
#total views by region
df.groupby("region")["views"].sum()

region
Brazil      1751589049
India       1759902460
Pakistan    1618919802
UK          1665703156
US          1773604676
Name: views, dtype: int64

In [28]:
#which content type has tighest engangemnt rate
df.groupby("content_type")["engagement_rate"].sum().idxmax()

'text'

In [29]:
#count of viral post

df["is_viral"].sum()

np.int64(1398)

In [34]:
#find avereage sentiment score of viral post
df[df["is_viral"]==1]["sentiment_score"].mean()

np.float64(0.004452074391988556)

In [37]:
df.groupby("is_viral")["sentiment_score"].mean()

is_viral
0   -0.012221
1    0.004452
Name: sentiment_score, dtype: float64

In [38]:
#total interaction create new coloumn
df["total_interaction"]=df["likes"]+df["comments"]+df["shares"]

In [39]:
df.head()

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral,total_interaction
0,SM_100000,Instagram,text,Sports,ur,UK,2024-12-10 00:00:00,#tech #funny #music,2319102,122058,15800,861,0.0598,0.464,1,138719
1,SM_100001,Instagram,carousel,Sports,ur,Brazil,2024-10-13 00:00:00,#news #fyp #funny #ai #trending,2538464,110368,11289,54887,0.0695,-0.800,1,176544
2,SM_100002,YouTube Shorts,video,Technology,ur,UK,2024-05-03 00:00:00,#ai #news,1051176,87598,47196,44132,0.1702,0.416,0,178926
3,SM_100003,X,text,Politics,ur,US,2024-08-04 00:00:00,#ai #funny,5271440,329465,774,59736,0.0740,0.877,1,389975
4,SM_100004,YouTube Shorts,text,Education,es,US,2024-03-28 00:00:00,#news #ai #viral #funny #fyp,3186256,199141,5316,83105,0.0903,0.223,1,287562

In [43]:
pd.to_datetime(df["post_datetime"])
df["month"]=df["post_datetime"].dt.month
df.head()

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral,total_interaction,month
0,SM_100000,Instagram,text,Sports,ur,UK,2024-12-10,#tech #funny #music,2319102,122058,15800,861,0.0598,0.464,1,138719,12
1,SM_100001,Instagram,carousel,Sports,ur,Brazil,2024-10-13,#news #fyp #funny #ai #trending,2538464,110368,11289,54887,0.0695,-0.800,1,176544,10
2,SM_100002,YouTube Shorts,video,Technology,ur,UK,2024-05-03,#ai #news,1051176,87598,47196,44132,0.1702,0.416,0,178926,5
3,SM_100003,X,text,Politics,ur,US,2024-08-04,#ai #funny,5271440,329465,774,59736,0.0740,0.877,1,389975,8
4,SM_100004,YouTube Shorts,text,Education,es,US,2024-03-28,#news #ai #viral #funny #fyp,3186256,199141,5316,83105,0.0903,0.223,1,287562,3

In [48]:
#post by month

df["month"].value_counts().sort_index()

month
1     157
2     181
3     171
4     189
5     151
6     162
7     185
8     148
9     168
10    153
11    175
12    160
Name: count, dtype: int64

In [ ]:
#which factor assuming it is viral or not
df.groupby("is_viral")[["likes","comments","shares","engagement_rate"]].mean()

                  likes      comments        shares  engagement_rate
is_viral
0          95912.504983  25182.388704  50115.519934         0.339711
1         309670.357654  24616.638054  49860.100143         0.079540

In [56]:
#which region produces more viral post
df.groupby("region")["is_viral"].sum().sort_values().head()
#df[df["is_viral"]==1]["region"].value_counts().head(1)

region
Pakistan    260
Brazil      279
UK          280
India       285
US          294
Name: is_viral, dtype: int64