In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv("C:\\Users\\LENOVO\\Desktop\\Development-jourey\\machinelearningworks\\task\\22_1_26\\earthquake.csv")
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,id,updated,place,type,horizontalError,depthError,magError,magNst,status
0,2026-01-07 22:00:13.258000+00:00,-23.4332,-179.8984,547.033,5.5,mww,63.0,39.0,5.976,1.13,us7000rnbi,2026-01-07T22:24:28.537Z,south of the Fiji Islands,earthquake,8.66,7.704,0.093,11.0,reviewed
1,2026-01-07 04:12:56.792000+00:00,7.2863,127.0595,11.854,5.5,mww,58.0,53.0,1.485,1.40,us7000rn4a,2026-01-07T16:31:18.040Z,"53 km E of Santiago, Philippines",earthquake,5.21,4.721,0.098,10.0,reviewed
2,2026-01-07 03:02:56.040000+00:00,7.3902,126.7221,35.000,6.4,mww,118.0,30.0,1.178,1.17,us7000rn2z,2026-01-07T15:50:12.915Z,"16 km ESE of Baculin, Philippines",earthquake,7.94,1.842,0.047,44.0,reviewed
3,2026-01-06 23:10:38.371000+00:00,-17.6276,168.2465,62.384,5.0,mww,47.0,79.0,2.388,0.54,us7000rn1j,2026-01-07T12:59:00.885Z,"13 km NNW of Port-Vila, Vanuatu",earthquake,9.64,6.266,0.103,9.0,reviewed
4,2026-01-06 19:17:09.696000+00:00,37.2523,74.6137,10.000,5.2,mb,112.0,54.0,1.991,0.88,us7000rmzt,2026-01-07T05:04:55.711Z,"103 km N of Barishal, Pakistan",earthquake,6.54,1.848,0.049,136.0,reviewed

In [2]:
df.isnull().sum()

time                   0
latitude               0
longitude              0
depth                593
mag                    0
magType                0
nst                74730
gap                64091
dmin               84675
rms                31517
id                     0
updated                0
place                222
type                   0
horizontalError    86094
depthError         51637
magError           69523
magNst             63724
status                 0
dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106077 entries, 0 to 106076
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   time             106077 non-null  object
 1   latitude         106077 non-null  float64
 2   longitude        106077 non-null  float64
 3   depth            105484 non-null  float64
 4   mag              106077 non-null  float64
 5   magType          106077 non-null  object
 6   nst              31347 non-null   float64
 7   gap              41986 non-null   float64
 8   dmin             21402 non-null   float64
 9   rms              74560 non-null   float64
 10  id               106077 non-null  object
 11  updated          106077 non-null  object
 12  place            105855 non-null  object
 13  type             106077 non-null  object
 14  horizontalError  19983 non-null   float64
 15  depthError       54440 non-null   float64
 16  magError         36554 non-null   float64
 17  magNst           42353 non-null   float64
 18  status           106077 non-null  object
dtypes: float64(12), object(7)
memory usage: 15.4+ MB

In [4]:
df.columns
df.isnull().sum()

time                   0
latitude               0
longitude              0
depth                593
mag                    0
magType                0
nst                74730
gap                64091
dmin               84675
rms                31517
id                     0
updated                0
place                222
type                   0
horizontalError    86094
depthError         51637
magError           69523
magNst             63724
status                 0
dtype: int64

In [9]:
df["depth"].fillna(df["depth"].mean(),inplace=True)
# df["nst"].fillna(df["nst"].mean(),inplace=True)
# df["gap"].fillna(df["gap"].mean(),inplace=True)
# df["dmin"].fillna(df["dmin"].mean(),inplace=True)
# df["rms"].fillna(df["rms"].mean(),inplace=True)
# df["place"].fillna("unknown",inplace=True)
#df["horizontalError"].fillna(df["horizontalError"].mod(),inplace=True)
# df["depthError"].fillna(df["depthError"].mod(),inplace=True)
# df["magError"].fillna(df["magError"].mod(),inplace=True)
# df["magNst"].fillna(df["magNst"].mod(),inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_20252\1778563806.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df["depth"].fillna(df["depth"].mean(),inplace=True)

0         547.03300
1          11.85400
2          35.00000
3          62.38400
4          10.00000
            ...
106072     61.57636
106073     61.57636
106074     61.57636
106075     61.57636
106076     61.57636
Name: depth, Length: 106077, dtype: float64

In [8]:
df.isnull().sum()

time                   0
latitude               0
longitude              0
depth                593
mag                    0
magType                0
nst                74730
gap                64091
dmin               84675
rms                31517
id                     0
updated                0
place                222
type                   0
horizontalError    86094
depthError         51637
magError           69523
magNst             63724
status                 0
dtype: int64

df["nst"].fillna(df["nst"].mean(),inplace=True)

In [11]:
df.isnull().sum()

time                   0
latitude               0
longitude              0
depth                593
mag                    0
magType                0
nst                74730
gap                64091
dmin               84675
rms                31517
id                     0
updated                0
place                222
type                   0
horizontalError    86094
depthError         51637
magError           69523
magNst             63724
status                 0
dtype: int64

In [10]:
df["nst"].fillna(df["nst"].mean(),inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_20252\3106214857.py:1: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df["nst"].fillna(df["nst"].mean(),inplace=True)

0          63.000000
1          58.000000
2         118.000000
3          47.000000
4         112.000000
             ...
106072    157.568507
106073    157.568507
106074    157.568507
106075    157.568507
106076    157.568507
Name: nst, Length: 106077, dtype: float64